# Control Signals
set_io OE     13   # Output Enable
set_io CLK    19   # Clock
set_io LAT    3    # Latch

# Row Select Pins
set_io A      11   # Row address A
set_io B      45   # Row address B
set_io C      18   # Row address C
set_io D      48   # Row address D
set_io E      47   # Row address E

# RGB1 (First set of RGB signals)
set_io R1     4
set_io G1     2
set_io B1     44

# RGB2 (Second set of RGB signals)
set_io R2     6
set_io G2     46
set_io B2     9

# SPI Signals
set_io sdi    10   # Serial Data In
set_io sclk   21   # SPI Clock
set_io led1   38
set_io led2   28
set_io cs_n   20   # Chip Select (active low)
set_io led0   42
set_io resetn 34